<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiangkang.tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS"/> -->
    <!-- <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/> -->
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".system.PermissionActivity" />

        <service android:name=".service.ScanMusicService" />
        <service
            android:name=".service.WatchingTopActivityService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>