<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiangkang.ndk">

    <application android:theme="@style/AppTheme">
        <activity android:name=".skia.SkiaViewerActivity"></activity>
        <activity android:name=".skia.SkiaActivity" />
        <activity android:name=".NdkMainActivity" />
    </application>

</manifest>