<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiangkang.hack">

    <application
        android:theme="@style/AppTheme"
        >
        <activity android:name=".HackActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity-alias
            android:name="Hack"
            android:targetActivity=".HackActivity"/>
    </application>

</manifest>