<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiangkang.vpn">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name=".ToyVpnClientActivity" />
        <service android:name=".ToyVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>
    </application>
</manifest>