<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiangkang.video">

    <application>
        <activity android:name=".surfaceview.SurfaceViewDemoActivity"></activity>
        <activity android:name=".KVideoActivity" />
    </application>

</manifest>